doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body 
        h2 Restablecer Contraseña
        p Hola, has solicitado restablecer tu contraseña. Por favor, haz click en el siguiente enlace para restablecerla. <b>Nota:</b> <i>Este enlace es temporal, de manera que si expira debes volver a solicitarlo.</i>
        a(href=`${resetUrl}`) Restablecer Contraseña

        p Si no puedes acceder a este enlace, pega en tu navegador la siguiente dirección web: #{resetUrl}

        p Si no hiciste esta solicitud, no tienes que hacer nada más, simplemente puedes ignorarla.